<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Angularjs</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
<!-- include file menu nav.html -->
<div ng-include="'page/nav.html'"></div>
<div class="container">
    <div class="col-md-9">
        <ng-view></ng-view>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tra cứu điểm thi</h3>
            </div>
            <div class="panel-body">
                <form action="" method="POST" role="form">

                    <div class="form-group">
                        <label for="code">Nhập mã sinh viên</label>
                        <input class="form-control"
                               id="code"
                               ng-model="code"
                               placeholder="B5864..."
                               required type="text">
                    </div>
                    <button class="btn btn-primary" ng-click="checkMark(code)" type="button">Tra cứu</button>
                    <button class="btn btn-danger" type="reset">Reset</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default" ng-show="studentMark">
            <div class="panel-heading">
                <h3 class="panel-title">Thông tin điểm</h3>
            </div>
            <div class="panel-body">
                <p><b>Sinh viên:</b> {{studentMark.name}}</p>
                <p><b>Điểm html:</b> {{studentMark.mark_html}}</p>
                <p><b>Điểm AngularJS:</b> {{studentMark.mark_ajs}}</p>
                <p><b>Điểm bài tập lớn WHCJ:</b> {{studentMark.mark_dwhcj}}</p>
                <p><b>Trung bình các môn: {{studentMarkAvg.toFixed(2)}}</b></p>
            </div>
        </div>
    </div>
</div>

<!-- modal-view-student by id -->
<app-modal show="studentDetail">
    <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="closeDetail()" type="button">&times;
        </button>
        <h4 class="modal-title">{{studentDetail.name}}</h4>
    </div>
    <div class="modal-body">
        <p><b>Code:</b>{{studentDetail.code}}</p>
        <p><b>Họ tên:</b> {{studentDetail.name}}</p>
        <p><b>Email:</b> {{studentDetail.email}}</p>
        <p><b>Điểm html:</b> {{studentDetail.mark_html}}</p>
        <p><b>Điểm angularJS:</b> {{studentDetail.mark_ajs}}</p>
        <p><b>Điểm WHCJ:</b> {{studentDetail.mark_dwhcj}}</p>
    </div>
</app-modal>
<script crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>
