<div class="panel panel-defaut">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách sản phẩm</h3>
    </div>
    <div class="col-md-3" ng-repeat="product in data">
        <div class="thumbnail">
            <img alt="image" ng-src="{{product.image}}">
            <div class="caption text-center">
                <h3>{{product.name}}</h3>
                <p>
                    Giá: {{product.price | currency:"":0 }} đ
                </p>
                <p>
                    <button class="btn btn-xs btn-primary" ng-click="showDetail(product)">Chi tiết</button>
                    <button class="btn btn-xs btn-default" ng-click="addToCart(product)">Giỏ hàng</button>
                </p>
            </div>
        </div>
    </div>
</div>
