<div class="row">
    <div class="col-md-3" ng-repeat="sp in products">
        <div class="thumbnail">
            <img alt="" ng-src="{{sp.image}}">
            <div class="caption text-center">
                <h3>{{sp.name}}</h3>
                <p>
                    Giá: {{sp.price | currency:"":0}} đ
                </p>
                <p>
                    <button class="btn-btn-xs btn-primary" ng-click="show_sp(sp)" type="button">Xem</button>
                </p>
            </div>
        </div>
    </div>
</div>
