<div class="row">
    <div class="col-md-3" ng-repeat="product in data">
        <div class="thumbnail">
            <img alt="" ng-src="{{product.image}}">
            <div class="caption text-center">
                <h3>{{product.name}}</h3>
                <p>Giá: {{product.price | currency:"":0}} đ</p>
                <p>
                    <button class="btn-btn-xs btn-primary" ng-click="showProductDetail(product)" type="button">Xem
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
